@font-face {
    font-family: 'Ranchers';
    src: url('assets/Ranchers-Regular.ttf');
}

.principal-content {
    background: url(assets/home.jpg) no-repeat center center;
    background-size: cover;
    height: 700px;
    padding: 10px;
}

.ranchers {
    font-family: 'Ranchers';
}

.space-info {
    margin-top: 30px;
    margin-bottom: 30px;;
}